body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn{
    width: 200px;
    height: 55px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header-top {
    border-bottom: 1px solid #DEDEDE;

}


.header-top-info {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    width: 945px;
    display: flex;
    justify-content: space-between;
}

.top-menu-list{
    display:flex;
    font-weight: 500;
    font-size: 14px;
    justify-content: space-between;
}

.top-menu-list a {
    color: #424242;
}

.top-menu-list-left{
    width: 352px;
}

.top-menu-list-right{
    width: 340px;
}

.top-menu-list-left a{
    text-decoration: none;
}

.list-blue{
    color: #3A95FF;
    font-weight: 600;
}

.list-blue1 {
    text-decoration: none;
}

.main-menu-list{
    display: flex;
    height: 73px;
    align-items: center;
    justify-content: space-between;
}

.header-bottom{
    border-bottom: 1px solid #DEDEDE;
}

.main-menu-list a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #424242
}

.main-banner{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.main-banner-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-offer-text {
    font-weight: 600;
    font-size: 52px;
    line-height: 110%;
    color: #212121;
    margin-bottom: 63px               ;
}

.btn-primary{
    background-color: #3A95FF;
    color: #FFFFFF;
}

.btn-secondary{
    border: 1px solid #3A95FF;
    color: #3A95FF;
}

.banner-buttons {
    display:flex;
    justify-content: space-between;
}

.banner-offer-text-blue {
    color: #3A95FF;
}

.main-best-offer-text{
    margin-top: 70px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.secondary-best-offer-text{
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 70px;
}

.best-offer-banners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    grid-row-gap: 62px;
    margin-bottom: 110px;
}

.card-best-offer{
    width: 555px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background: #EFF2F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-decoration: none;
}

.card-best-offer-text{
    margin-left: 34px;
    margin-top: 34px;
}

.card-best-offer-main-text{
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #212121;
    margin: 0
}

.card-best-offer-secondary-text{
    font-size: 18px;
    line-height: 130%;
    color: #424242;
    margin-top: 24px;
}

.credit-card-items{
    display:flex;
    justify-content: space-between;
}
.credit-card-main{
    background-color: #EFF2F5;
    height: 775px;
    display: flex;
    align-items: center;
}

.credit-card-banner{
    width: 750px;
    height: 500px;
    background: #E0E5EA;
    box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.credit-card-banner-items{
    margin-left: 99px;
}
.credit-offer-banner-top{
    display: flex;
    justify-content: space-between;
}

.credit-card-offer-text{
    margin-top: 34px;
    font-weight: 600;
    font-size: 38px;
    line-height: 130%;
    color: #212121;
}

.credit-offer-banner-description{
    display:flex;
    justify-content: space-between;
    width: 547px;
}
.credit-offer-banner-text{
    width: 157px;
}
.credit-offer-banner-text-primary{
    margin: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #3A95FF;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #212121;
    text-align: center;
}

.credit-offer-banner-text-secondary{
    margin: 0;
    padding-top: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #424242;
}

.credit-offer-btn{
    display: flex;
    justify-content: space-between;
    width: 437px;
    margin-top: 40px;
}

.credit-card-items-right{
    display:flex;
    flex-wrap: wrap;
    grid-row-gap: 27px;
    width: 360px;
}

.credit-debit-offers{
    width: 360px;
    height: 235px;
    background: #F7F7F7;
    box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-bottom: 5px solid #3A95FF;
    box-sizing: border-box;
}

.credit-debit-offers-container{
    width: 292px;
    height: 167px;
    margin: 34px;
    display: flex;
    justify-content: space-between;
}

.credit-debit-img{
    margin-top: auto;
    height: 48px;
}

.credit-debit-offers{
    text-decoration: none;
}

.credit-debit-text{
    margin: 0px;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #212121;
}

.how-take-card-top{
    /* display: flex; */
    height: 280px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.how-take-card-text{
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 70px;
}

.how-take-card-guide{
    display: flex;
    align-items: center;
}

.how-take-card-step-text{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #212121;
}


.how-take-card-step img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.how-take-card-step{
    margin-left: 120px;
}

.how-take-card-arrow{
    margin-left: 120px;
}

.footer-bottom{
    height: 160px;
    background: #EFF2F5;
    display: flex;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.footer-info-text-column{
    /* display: flex;
    flex-wrap: wrap; */
}

.footer-info-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #424242;
    text-decoration: none;
    display: flex;
    margin-bottom: 22px;
    margin-top: 0px;
}

.footer-info-copyright{
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #424242;
    margin: 0;
    margin-bottom: 22px;
}

.footer-info-feedback{
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #424242;
    margin-bottom: 22px;
}

.footer-info-text-column a{
    text-decoration: none;
    display: flex;
    margin-bottom: 22px;
}